h1 {
  display:block;
  float: left;
  width: 200px;
  height: 76px;
  text-align: left;
  font: 24px Akrobat;
  margin: 10px 0px 0px 5px;
}

h1 span {
  display: block;
  float: none;
  font: 20px Akrobat;
}

.centroid {
  float: none;
  margin: 0px auto;
  width: 1000px;
}

.header {
  position: fixed;
  width: 981px;
  height: 76px;
  padding: 0px 15px 0px 0px;
  border: 2px solid black;
  border-radius: 38px 15px 15px 38px;
  background-color: rgb(255, 234, 177);
  overflow: visible;
}

.header .logo {
  float:left;
  width: 76px;
  height: 76px;
  margin: 0px 0px 0px 5px;
  background: transparent url(../images/logo.png) no-repeat center;
  background-size: 65px 65px;
}

.header select {
  cursor: pointer;
  display: block;
  float: right;
  height: 38px;
  width: 104px;
  margin: 18px 10px 0px 0px;
  padding: 0px 0px 0px 30px;
  border: 2px solid black;
  border-radius: 15px;
  font: 14px Akrobat;
  text-align: left;
  color: black;
}

.header .ru {
  background: rgb(255, 255, 255) url(../images/ru.png) no-repeat left;
  background-size: auto 30px;
} 

.header .en {
  background: rgb(255, 255, 255) url(../images/en.png) no-repeat left;
  background-size: auto 30px;
} 

.header a {
  display: block;
  float: right;
  height: 34px;
  width: 60px;
  margin: 18px 10px 0px 0px;
  padding: 0px 0px 0px 40px;
  border: 2px solid black;
  border-radius: 15px;
  background-color: rgb(255, 255, 255);
  font: 14px Akrobat;
  text-align: left;
  color: black;
  text-decoration: none;
  line-height: 34px;
}

.header .lessons {
  background: rgb(255, 255, 255) url(../images/book.png) no-repeat 5px;
  background-size: auto 25px;
}

.header .new {
  background: rgb(255, 255, 255) url(../images/new.png) no-repeat 5px;
  background-size: auto 30px;
}

.header .save {
  background: rgb(255, 255, 255) url(../images/save.png) no-repeat 7px;
  background-size: auto 25px;
}

.header .load {
  background: rgb(255, 255, 255) url(../images/load.png) no-repeat 7px;
  background-size: auto 25px;
}

.field-click-shield {
  position: fixed;
  top: 134px;
  left: 50%;
  width: 474px;
  height: 649px;
  margin: 0px 0px 0px -500px;
  background-color: transparent;
}

.program-click-shield {
  position: fixed;
  top: 80px;
  right: 50%;
  margin: 0px -500px 0px 0px;
  width: 519px;
  height: 100%;
  background-color: transparent;
}