.control-pannel {
  position: fixed;
  top: 90px;
  left: 50%;
  width: 438px;
  height: 40px;
  margin: 0px 0px 0px -500px;
  padding: 0px 17px 0px 15px;
  border: 2px solid black;
  border-radius: 15px 15px 0px 0px;
  background-color: rgb(233, 233, 255);
}

.control-pannel span {
  text-align: left;
  font: 16px Akrobat;
  line-height: 40px;
}

.control-pannel button {
  display: block;
  float: right;
  margin: 5px 0px 0px 2px; 
  width: 30px;
  height: 30px;
  border: 2px solid black;
  border-radius: 5px;
  box-shadow: inset rgba(255,255,255,0.2) 2px  2px 4px 1px,
              inset rgba(0,0,0,0.2)      -2px -2px 4px 1px;
}

.control-pannel .play {
  background: rgb(133, 248, 133) url(../images/play.png) center no-repeat;
  background-size: auto 16px;
}

.control-pannel .pause {
  background: rgb(253, 251, 127) url(../images/pause.png) center no-repeat;
  background-size: auto 16px;
}

.control-pannel .stop {
  background: rgb(255, 98, 98) url(../images/stop.png) center no-repeat;
  background-size: auto 16px;
}

.board {
  position: fixed;
  top: 134px;
  left: 50%;
  width: 470px;
  height: 645px;
  margin: 0px 0px 0px -500px;
  background-color: rgb(230, 230, 230);
  border: 2px solid black;
  border-top: none;
  border-radius: 0px 0px 15px 15px;
}

.board-inside {
  position: relative;
  float: left;
  width: 450px;
  height: auto;
  margin: 10px;
  background-color: transparent;
  overflow: hidden;
}

.wall {
  position: relative;
  float: left;
  background-color: transparent;
}

.h-wall {
  width: 34px;
  height: 10px;
}

.x-wall {
  width: 14px;
  height: 14px;
  margin: -2px;
  border-radius: 2px;
}

.v-wall {
  width: 10px;
  height: 34px;
}

.occupied {
  background-color: rgb(95, 72, 30);
  box-shadow: rgba(0,0,0,0.3)      1px 2px 4px 1px,
              inset rgba(255,255,255,0.2) 1px  2px 4px 1px,
              inset rgba(0,0,0,0.2)      1px -2px 4px 1px;
}

.square {
  position: relative;
  float: left;
  width: 42px;
  height: 42px;
  margin: -5px;
  z-index: 5;
  background-color: rgb(251, 242, 197);
  border: 1px dotted rgb(204, 175, 118);
}

.painted {
  background-color: rgb(255, 255, 255);
}

.robot {
  position: absolute;
  width: 50px;
  height: 50px;
  background-color: transparent;
  background-image: url(../images/robot-sprites.png);
  background-repeat: no-repeat;
}

.robot-n { background-position: 0px center; }
.robot-nne {  background-position: -50px center; }
.robot-nee {  background-position: -100px center; }
.robot-e {  background-position: -150px center; }
.robot-see {  background-position: -200px center; }
.robot-sse {  background-position: -250px center; }
.robot-s {  background-position: -300px center; }
.robot-ssw {  background-position: -350px center; }
.robot-sww {  background-position: -400px center; }
.robot-w {  background-position: -450px center; }
.robot-nww {  background-position: -500px center; }
.robot-nnw { background-position: -550px center; }