.playDesk {
  float:left;
  border: 1px solid grey;
}

.board {
  float:left;
  display:flex;
  flex-direction: column;
}

.boardRow {
  display: flex;
  flex-direction: row;
}

.crossWall {
  float:left;
  width:7px;
  height:7px;
  border: 1px solid grey;
}

.horizontalWall {
  float:left;
  width:30px;
  height:7px;
  border: 1px solid grey;
}

.verticalWall {
  float:left;
  width:7px;
  height:30px;
  border: 1px solid grey;
}

.square {
  float:left;
  width:30px;
  height:30px;
  border: 1px solid grey;
}

.codeDesk {
  float:left;
  width: 700px;
  height: 700px;
  margin: 5px;
  border: 1px solid grey;
}

.codeInstrumentBar {
  float: right;
  width: 90px;
  height: 100%;
  border-left: 1px solid grey;
  margin: 0px;
}

.codeInstrument {
  float:left;
  width: 80px;
  height: 30px;
  border: 1px solid grey;
  margin: 4px;
  text-align: center;
}

.dustbin {
  float: left;
  width: 80px;
  height: 50px;
  border: 1px solid grey;
  margin: 5px;
  text-align: center;
}

.procedures {
  float: left;
  width: 600px;
  height: 100%;
}

.procedure {
  display: block;
  flex-direction: column;
  min-width: 30px;
  margin: 5px 0px 5px 0px;
  border: 1px solid grey;
}

.loopBlock {
  display: block;
  flex-direction: column;
  min-width: 30px;
  margin: 5px 0px 5px 0px;
  border: 1px solid grey;
}

.ifBlock {
  display: block;
  flex-direction: column;
  min-width: 30px;
  margin: 5px 0px 5px 0px;
  border: 1px solid grey;
}

.codeBlock {
  display: flex;
  flex-direction: column;
  min-width: 30px;
  margin: 5px 0px 5px 20px;
  border: 1px solid grey;
}

.codeBlockTitle {
  width: 200px;
  margin: 0px 0px 0px 0px;
  border: 1px solid grey;
}

.callCode {
  width: 200px;
  height: 30px;
  margin: 5px 0px 0px 20px;
  border: 1px solid grey;
}

.command {
  width: 200px;
  height: 30px;
  margin: 5px 0px 5px 0px;
  border: 1px solid grey;
}

.insertArea {
  width: 200px;
  height: 30px;
  margin: -15px 0px -15px 20px;
  border: 1px dotted lightgrey;
}

.condition {
  display: inline-block;
  padding:3px;
  margin:3px;
}
